<div class="container mt-5">
    <h2 class="text-center mb-4">Assuntos</h2>

    <button type="button" class="btn btn-primary my-2" (click)="abrirModalAssunto()">
        Adicionar
    </button>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Descricao</th>
                    <th scope="col" class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                @for(assunto of listaAssuntos; track $index)
                {
                <tr>
                    <td class="col-sm-6 col-md-9">{{assunto.descricao}}</td>
                    <td class="col-sm-6 col-md-3 text-center">

                        <button class="btn btn-warning btn-sm me-2 text-white"
                            (click)="editarAssunto(assunto)">Editar</button>

                        <button class="btn btn-danger btn-sm text-white"
                            (click)="deletarAssunto(assunto.codAs)">Deletar</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>