<!-- Seção de Serviços -->
<section id="servicos" class="py-5">
    <div class="container">
      <h2 class="text-center mb-4">Biblioteca</h2>
      <div class="row d-flex justify-content-center">
        <div class="col-md-3 d-flex">
          <div class="card mb-4 shadow-sm flex-fill d-flex flex-column">
            <div class="card-body d-flex flex-grow-1 flex-column">
              <h5 class="card-title">Autores</h5>
              <p class="card-text">Aqui você pode verificar todos os autores dos livros.</p>
              <div class="mt-auto">
                <a routerLink="autores" class="btn btn-primary">Saiba Mais</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="card mb-4 shadow-sm flex-fill d-flex flex-column">
            <div class="card-body d-flex flex-grow-1 flex-column">
              <h5 class="card-title">Assuntos</h5>
              <p class="card-text">Aqui você pode verificar todos os assuntos dos livros.</p>
              <div class="mt-auto">
                <a routerLink="assuntos" class="btn btn-primary">Saiba Mais</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="card mb-4 shadow-sm flex-fill d-flex flex-column">
            <div class="card-body d-flex flex-grow-1 flex-column">
              <h5 class="card-title">Livros</h5>
              <p class="card-text">Aqui você pode verificar todos os livros.</p>
              <div class="mt-auto">
                <a routerLink="livros" class="btn btn-primary">Saiba Mais</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="card mb-4 shadow-sm flex-fill d-flex flex-column">
            <div class="card-body d-flex flex-grow-1 flex-column">
              <h5 class="card-title">Relatórios</h5>
              <p class="card-text">Aqui você pode gerar relatórios.</p>
              <div class="mt-auto">
                <a routerLink="relatorios" class="btn btn-primary">Saiba Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>